html * {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header,
header ul,
.main-container,
.mission,
.tea-of-month,
.tea-container,
.tea-box,
.locations,
.location-container,
.location-box {
    display: flex;
}

body {
    margin: 0;
    flex-direction: column;
    align-items: center;
}

header {
    height: 69px;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid seashell;
    z-index: 2;
}

h5 {
    font-size: 18px;
}

header img {
    height: 50px;
    margin-left: 10px;
}

header ul {
    list-style: none;
    margin-right: 10px;
    padding: 0;
}

header ul li {
    padding: 0 5px;
}

main {
    margin-top: 70px;
    background-color: black;
    z-index: 1;
}

.main-container {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.mission {
    background: url('./images/img-mission-background.jpg');
    height: 700px;
    width: 1200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mission-text {
    text-align: center;
    width: 100%;
}

.mission-text h2 {
    font-size: 30px;
}

.tea-of-month {
    flex-direction: column;
}

.tea-container {
    flex-flow: row wrap;
    width: 1000px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.tea-box {
    flex-direction: column;
    align-items: center;
}

.tea-box h4 {
    margin: 0;
    padding: 10px;
}

.tea-box img {
    height: 200px;
    width: 300px;
}

.locations {
    flex-flow: column nowrap;
    background: url(./images/img-locations-background.jpg);
    height: 500px;
    width: 1200px;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.locations h2 {
    background-color: transparent;
}

.location-container {
    flex-flow: row wrap;
    gap: 40px;
    background: transparent;
    justify-content: center;
    align-items: center;
}

.location-box {
    flex-flow: column nowrap;
    height: 300px;
    width: 300px;
    opacity: 1;
}

.contact h2 {
    font-size: 36px;
}

.contact h5 {
    font-size: 18px;
}

footer {
    border: 1px solid red;
}